/* bubbles.css */

.bubble-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.bubble {
  position: absolute;
  bottom: -10px;
  border-radius: 50%;
  background: rgb(17, 112, 246);
  animation-name: rise;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Floating up */
@keyframes rise {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  to {
    transform: translateY(-110vh);
    opacity: 0;
  }
}
