@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");


@font-face {
  font-family: Lato;
  src: url("./assets/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Black.ttf");
}
@font-face {
  font-family: LatoThin;
  src: url("./assets/fonts/Poppins/Poppins-Thin.ttf");
}
@font-face {
  font-family: LatoMedium;
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
}
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

#root {
  width: 100%;
  height: 100%;
}

@import "tailwindcss";

@theme {
  /*  colors */
  --color-primary: #ff5733; /* Example: A custom primary color */
  --color-secondary: #33ff57; /* Example: A custom secondary color */
  --color-accent: #5733ff; /* Example: A custom accent color */

  /*  fonts */
  --font-primary: Lato;
  --font-secondary: Poppins;
  --font-lato-thin: LatoThin;
  --font-lato-medium: LatoMedium;
}
