.message-box .box {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.message-box .box-hook {
  position: absolute;
}

.message-box .box-hook.to-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white;
  border-top-right-radius: 10px;
  right: 0px;
  top: 0;
}

.message-box .box-hook.to-right {
  width: 0;
  height: 0;
  border-bottom-left-radius: 10px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
  left: 0px;
  top: -10px;
}
.message-box .box-hook.to-right-top {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid red;
  left: 1px;
  bottom: -65px;
  z-index: 0;
}

.message-box .box-hook.to-right-top-line {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
  left: 2px;
  bottom: -60px;
    z-index: 0;
}

.message-box .box .message {
  font-size: 12px;
  color: rgb(21, 143, 243);
  font-weight: 500;
}

.message-box .box img {
  width: 100%;
}
