.section-nav {
  position: absolute; /* stays on screen */
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 10px;
  z-index: 1;
  font-family: "Google Sans Code", monospace;
  width: 100%;
  justify-content: center;
}

.nav-dot {
  width: auto;
  height: auto;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  color: aliceblue;
  padding: 3px 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.nav-dot.active {
  color: #7dd3fc;
  transform: scale(1.3);
}

@media (max-width: 450px) {
  .nav-dot {
    font-size: 10px !important;
  }
}
